* {
  margin: 0;
  padding: 0;
}
.background_video_container {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.addNoteContainer {
  min-height: 100vh;
  background-color: rgba(63, 59, 59, 0.406);
  color: white;
  font-weight: 900;
  display: grid;
  /* gap: 1rem; */
}
