.notes {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.searching {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
.searching input {
  outline: none;
  border: none;
  background-color: black;
  color: white;
  height: 2rem;
  text-align: center;
}
.eachNote {
  display: grid;
  background-color: aliceblue;
  border-radius: 1rem;
  padding: 1rem;
  width: 400px;
  gap: 1rem;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}
.title {
  text-align: center;
}
.wellcome {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
  /* background-color: red; */
  color: red;
  font-weight: 900;
}
.editBtnContainer {
  display: flex;
  justify-content: flex-end;
}
.editBtnContainer button {
  border-radius: 50%;
  padding: 0.5rem;
}
