.notes {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.eachNote {
  background-color: aliceblue;
  border-radius: 1rem;
  padding: 1rem;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}
.title {
  text-align: center;
}
.wellcome {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
  /* background-color: red; */
  color: red;
  font-weight: 900;
}
